<div class="d-flex justify-content-center align-items-center vh-100" >
  <div class="card w-75 h-50">
    <div class="row g-0">
      <div class="col-md-4 text-center">
        <img class="img-fluid rounded-start" style="width: 319px" src="https://www.fybeca.com/dw/image/v2/BDPM_PRD/on/demandware.static/-/Sites-masterCatalog_FybecaEcuador/default/dw28c82d20/images/large/100177142-GASEOSA-COCA-COLA-355-ML-LATA.jpg?sw=1000&sh=1000" alt="Card image cap">
      </div>
      <div class="col-md-8 d-flex flex-row justify-content-center align-items-center">
        <div class="card-body text-center">
          <div class="mt-2">
            <h2>Aki va el nombre del Producto</h2>
          </div>
          <div class="mt-2">
            <h4>aki va la Descripcion</h4>
          </div>
          <div class="d-flex d-flex justify-content-evenly mt-3">
            <div>
              <h5>Stock: aki el stock</h5>
            </div>
            <div>
              <h5>Precio: aki el precio</h5>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-3 mb-2">
            <div class="input-group w-25 mr-4">
              <button class="btn btn-secondary">-</button>
              <input type="number" class="form-control text-center">
              <button class="btn btn-secondary">+</button>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <button class="bg-warning">
                <i class="fas fa-shopping-cart"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

