<div class="row mt-5 w-50 mx-auto">
  <div class="col-md-6">
    <form [formGroup]="searchForm"  class="input-group w-auto my-auto d-sm-flex" >
      <input
        formControlName="search"
        type="text"
        class="form-control rounded"
        placeholder="Search"
        style="min-width: 125px"
      />
      <span class="input-group-text border-0 d-none d-lg-flex"
        ><i class="fas fa-search"></i
      ></span>
    </form>
  </div>
  <div class="col-md-4" *ngIf="categorias">
    <select [(ngModel)]="categoriaFilter"  class="form-select" aria-label="Default select example">
      <option value="0">Categorias</option>
      <option [value]="categoria.id" *ngFor="let categoria of categorias"> {{categoria.categoria}} </option>
    </select>
  </div>
</div>
<table class="table table-hover mt-5 text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Detalles</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
      <th scope="col">Imagen </th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="productos">
     <tr *ngFor="let producto of filteredItems">
      <th scope="row"> {{producto.id}} </th>
      <td> {{producto.producto|titlecase}} </td>
      <td> {{producto.descripcion|titlecase}} </td>
      <td> {{producto.precio|currency}} </td>
      <td>{{producto.stock}}</td>
      <td> <img style="width: 40px; height: 40px;" [src]="producto.url"> </td>
      <td>
        <button type="button" [routerLink]="['/admin/edit/'+producto.id]" routerLinkActive="router-link-active"
            class="btn btn-outline-info" style="border: none">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
        </button>

        <button type="button" (click)="delete(producto.id)"
            class="btn btn-outline-danger" style="border: none">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                <path
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
            </svg>
        </button>
    </td>
    </tr>
  </tbody>
</table>
