<ng-container *ngIf="producto" >
  <div class="card text-center" style="width: 18rem;" >
    <img class="card-img-top" style="width: 180px" [src]="producto.url">
    <div class="card-body">
      <h5 class="card-title">Producto: {{ producto.producto  |titlecase}}</h5>
      <p class="card-text">Descripcion {{ producto.descripcion |titlecase }} </p>
      <p class="card-text">En stock <b>{{ producto.stock }}</b>  </p>
    </div>
    <div class="card-footer">
      <a class="info" [routerLink]="['/descripcionProducto/'+producto.id]">Mas informacion</a>
      <button class="btn btn-info" (click)="addCarrito()" *ngIf="rol=='Cliente'">
        <i class="fas fa-shopping-cart"></i>
      </button>
    </div>
  </div>
</ng-container>
