<div class="card mb-3" style="max-width: 540px;" *ngIf="producto">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="producto.url" class="img-fluid rounded-start" alt="asdsad">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> {{producto.producto|titlecase}} </h5>
        <p class="card-text"> {{producto.descripcion|titlecase}} </p>
        <p class="card-text"> Stock {{producto.stock}} </p>
        <p class="card-text"> Precio {{producto.precio |currency}} </p>
      </div>
      <div class="card-footer">
        Cantidad <b>{{cantidad}}</b>
        <div class="d-flex">
          <button class="btn btn-outline-danger" (click)="reducir()">-</button>
        <button class="btn btn-outline-info" (click)="aumentar()">+</button>
        <button class="btn btn-outline-info" (click)="quitar()">Quitar del carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>
