<div class="d-flex justify-content-center mt-5">
  <div class="card text-center w-50">
    <div class="card-header fs-1"> User Profiel </div>
    <div class="card-body">
      <div *ngIf="user">
        <h3>
          Hola,
          <b>{{ user.nombre | titlecase }} {{ user.apellido | titlecase }}</b>
        </h3>
        <h3>
          Su Correo: <b>{{ user.email }}</b>
        </h3>
        <h3>
          Su Rol: <b>{{ user.rol }} </b>
        </h3>
      </div>
    </div>
    <div class="card-footer text-muted">
      <button (click)="logout()" class="btn btn-danger">logout</button>
    </div>
  </div>
</div>
