<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown" (click)="toggleNavbar()">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >

            <span class="navbar-toggler-icon"></span>
          </a>
          <div
            class="dropdown-menu"
            aria-labelledby="navbarDropdownMenuLink"
            *ngIf="navbarOpen"
          >

            <a class="dropdown-item" href="#">Categoría 1</a>
            <a class="dropdown-item" href="#">Categoría 2</a>
            <a class="dropdown-item" href="#">Categoría 3</a>
          </div>
        </li>
      </ul>

      <a class="navbar-brand" routerLink="/home"> Mi Tienda </a>

      <div class="navbar-search">
        <input
          type="text"
          class="form-control search-input"
          placeholder="Buscar productos"
        />
        <button class="btn btn-outline-light search-button">Buscar</button>
      </div>
      <div class="navbar-icons">
        <a class="navbar-icon" routerLink="/user">
          <i class="fas fa-user" routerLink="/user"></i>

        </a>
        <a class="navbar-icon" routerLink="/crear-producto">
          <i class="fa-solid fa-plus" routerLink="/crear-producto"></i>

        </a>
        <a class="navbar-icon" routerLink="/carrito">
          <i class="fas fa-shopping-cart" routerLink="/carrito"></i>

        </a>
      </div>
    </div>
  </div>
</nav> -->

<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" [routerLink]="['/home']">
        <img
          src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
          height="20"
          alt="MDB Logo"
          loading="lazy"
          style="margin-top: 2px;"
        />
      </a>

      <!-- Search form -->

    </div>
    <!-- Left elements -->

    <!-- Center elements -->
    <ul class="navbar-nav flex-row  d-md-flex">
      <li class="nav-item me-3 me-lg-1 active">
        <a class="nav-link" [routerLink]="['/home']"  >
          <span><i class="fas fa-home fa-lg" [routerLink]="['/home']" ></i></span>
        </a>
      </li>




      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" [routerLink]="['/carrito']">
          <span><i class="fas fa-shopping-bag fa-lg" [routerLink]="['/carrito']"></i></span>
        </a>
      </li>

    </ul>
    <!-- Center elements -->

    <!-- Right elements -->
    <ul class="navbar-nav flex-row " *ngIf="user">
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" [routerLink]="['/user']"  >
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp"
            class="rounded-circle"
            height="22"
            alt="Black and White Portrait of a Man"
            loading="lazy"
            [routerLink]="['/user']"
          />
          <strong class="d-none d-sm-block ms-1" [routerLink]="['/user']" > {{ user.nombre|titlecase }} </strong>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" [routerLink]="['/crear-producto']" >
          <span><i class="fas fa-plus-circle fa-lg" [routerLink]="['/crear-producto']"></i></span>
        </a>
      </li>

    </ul>
    <!-- Right elements -->
  </div>
</nav>
<!-- Navbar -->
